<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="https://gabrielbyduarte.github.io/ChatWeb/views/css/style.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/40cc08f0c1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="pragma" content="no-cache" /> -->
    <title>ChatWeb</title>
    <script>
        alerta = "<%= alerta %>";
        if (alerta) {
            alert(alerta);
            window.history.pushState("", "", "/");

        }
    </script>
</head>

<body>
    <section id="inicio">
        <div class="login-box" id="login-box">
            <h2>ENTRAR NO CHAT</h2>
            <form id="form" action="" method="">
                <div class="user-box">
                    <input type="text" id="input-name" required>
                    <label>Nome de usuário:</label>
                </div>

                <input value="ENTRAR" type="submit" class="button cursor-pointer" />

            </form>
        </div>
        <!-- <div>
        <p style="color: white;">BANCO DE DADOS:
            <script>
                console.log(db.findAll("usuarios"));
            </script>
            <br>

        </p>
    </div> -->
        <script>
            // function entrar() {
            //     nick = document.getElementById("input-name").value;
            //     window.location.href = window.location.protocol + "//" + window.location.host + "/entrar?nick=" + nick;
            // }
            const form = document.getElementById('form');
            form.addEventListener('submit', function (event) {
                event.preventDefault(); // Impede o envio padrão do formulário
                nick = document.getElementById("input-name").value;
                window.location.href = window.location.protocol + "//" + window.location.host + "/entrar?nick=" + nick;
                //  Atualiza a propriedade "action" do formulário com o valor do input
                // form.action = "/entrar" + inputValue;

                // Submete o formulário
                // form.submit();
            });
        </script>
    </section>

    <!-- <script src="https://gabrielbyduarte.github.io/ChatWeb/views/js/script.js"></script> -->
</body>

</html>